* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d5dee8;
}

h1 {
    text-align: center;
    margin: 32px 0px;
    font-size: 2.25em;
}

h1:hover {
    text-shadow: 2px 2px 4px #6980a7;
}

.container-back {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.container-back svg {
    height: 2rem;
    width: 2rem;
    color: black;
    background-color: white;
    border-radius: 4px;
}

.container-back svg:hover {
    background-color: #606c88;
    color: white;
}

.container-cards {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 440px), 1fr));
    margin: 0 16%;
}

.card {
    width: 440px;
    height: 394px;
    padding: .8em;
    background: #e8e9ff;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 8px;
}

.card-img {
    height: 40%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
}

img {
    border-radius: 8px;
    width: 100%;
    height: auto;
    max-width: 440px;
    max-height: 260px;
}

.containerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    flex-direction: column;
}

.idcat {
    font-size: 20px;
    margin-bottom: 20px;
}

button {
    border-radius: 12px;
    border: none;
    font-weight: bold;
    background: #d4d5ff;
    color: rgb(0, 0, 0);
    transition: .4s ease-in-out;
    padding: 0.8em 1.7em;
    margin: auto;
}

button:hover {
    background: #b2b3ff;
    color: black;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(188, 195, 201, 0.75);
}

.card-img:hover {
    transform: translateY(-25%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

@media (min-width: 768px) and (max-width: 1366px) {
    .container-cards {
        gap: 44px;
        margin: 0;
    }
}

@media (max-width:480px) {
    .container-cards {
        gap: 36px;
        margin: 0;
    }

    .card {
        width: 94%;
    }
}